.root {
    min-width: 335px;

    .title {
        color: #2A2349;
        font-size: 20px;
        font-weight: 700;
        margin-bottom: 12px;
    }

    .list {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}

@media(max-width: 576px) {
    .root {
        min-width: 100%;
    }
}