$xl: 1200px;
$lg: 992px;
$md: 768px;
$sm: 576px;



$color-bg-primary: #FAFAFA;

$color-error-primary: #E31B4B;
$color-link-primary: #00CCDB;

$color-text-primary-1: #444444;
$color-text-primary-2: #2A2349;

$color-text-secondary-1: #706D7A;
$color-text-secondary-2: #828282;

