@import "@/shared/styles/mixins";


.btnFacebook {
    margin-top: 48px;
    width: 312px;
    height: 48px;
    @include flex-row(flex-start, center);
    padding-left: 22px;
    background-color: #4267B2;
    border-radius: 8px;
    @include font-face("Gotham Pro", 700, 14px, 150%, white);


    &:hover {
        background-color: #688EDA;
        transition: 0.2s;
    }

    &:enabled:active {
        transform: scale(0.98);
    }

    .facebookIcon {
        margin-right: 26.42px;
    }
}