@import "@/shared/styles/vars";
@import "@/shared/styles/mixins";


.root {
    padding: 25px 0 0 0;
    background-color: #F2F2F2;

    .title {
        @include font-default(700, 24px, 24px, $color-text-primary-1);

        .userName {
            color: #706D7A;
        }
    }

    .tabs {
        margin-top: 35px;
    }
}